.contenedor{
    background-color: rgb(255, 247, 128) ;
    width: 100%;
    height: auto;
    
    h2{
     color: rgb(3, 3, 3);
     font-size: 40px;
     text-align: center;
     margin: 0;
     padding: 1em;
    }
}
