/* Estilos Generales */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0em;
  padding: 0em;
  background-color: #006b80;
}

.footer__final {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;

  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
    text-align: left;
  }

  .footer__contact,
  .footer__credits {
    padding: 0 10em;
  }

  h2,
  h3 {
    margin: 0.5em 0;
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0;
  }

  ul li {
    margin: 0.3em 0;
  }

  a {
    color: #1abc9c;
    text-decoration: none;
  }

  a:hover {
    color: #16a085;
  }

  .footer__texto {
    font-size: 0.9em;
    color: #bbb;
    margin-top: 1em;
    text-align: center;
  }
}