.galeria {
  display: none;

  &--active {
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    // background: #65bb58f2; NO BORRAR
    background: #bba558f2;
    display: flex;
    overflow-x: hidden; //ahorita se cambia
    overflow-y: scroll;
  }
  &__area-diseño {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__area-diseño li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.685);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }

  &__area-diseño li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  &__area-diseño li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  &__area-diseño li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  &__area-diseño li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  &__area-diseño li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  &__area-diseño li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  &__area-diseño li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  &__area-diseño li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  &__area-diseño li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  &__area-diseño li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  &__contenedor {
    width: 100%;
    max-width: 1050px; //tamaño de la tarjeta docente
    margin: auto;
    padding: 40px 0;
    height: auto;
    gap: 20px;
    position: relative;
  }

  &__contenedor-titulo {
    background-color: #ffffffb1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2em;
    margin-bottom: 1em;
  }

  &__nombre {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding-left: 2em;
  }

  &__btn {
    background: none;
    border: none;
    color: #000000;
    width: 5em;
    height: 5em;
    cursor: pointer;
    justify-content: end;
  }

  &__icono-boton {
    height: 80%;
    width: 80%;
    transform-origin: center; // Asegura que la animación ocurra desde el centro
    transition: transform 2s ease-in-out; // Efecto suave al entrar y salir

    // Cuando el usuario pase el cursor sobre el botón
    &:hover {
      animation: respirar 1.3s ease-in-out infinite; // Inicia la animación al hacer hover
    }
  }

  &__contenedor-biografia {
    background-color: #ffffffb1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    border-radius: 2em;
    padding: 1em;
  }
  &__contenedor-imagen-activa {
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    border-color: #000000;
    border-style: solid;
    border-width: 0.1em;
    margin: 2em;
  }
  &__imagen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: aliceblue;
  }
  &__contenedor-docente1 {
    padding-left: 3em;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__contenedor-docente {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffffb1;
    width: auto;
    height: auto;
    display: flex;
    border-radius: 2em;
    margin-top: 1em;
    padding: 2em;
  }
}
